<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508886444412-hpm8bct6tqm57e3greq998ovm0nqg2vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508886444412-hpm8bct6tqm57e3greq998ovm0nqg2vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>508886444412-6ec0spbue4igllsglten72ed83kblq57.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtZ5LpqJBeT5AyycQUDRPwxAxigfhFYKY</string>
	<key>GCM_SENDER_ID</key>
	<string>508886444412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.channel42.life</string>
	<key>PROJECT_ID</key>
	<string>theta-camera-378821</string>
	<key>STORAGE_BUCKET</key>
	<string>theta-camera-378821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508886444412:ios:2101a2c801d526ede5dcf9</string>
</dict>
</plist>